.row {
  height: 55px;
}

.location {
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  margin-right: -4px;
  height: 55px;
  width: 55px;
}

.number {
  position: relative;
  top: 20px;
  left: 23px;
}

._1 {
  /* GreenYellow */
  background-color: rgb(186, 241, 87);
  /* LimeGreen */
  color: rgb(61, 174, 3);
}

.is-selected._1 {
  background-color: rgb(176, 233, 75);
}

._2 {
  /* DodgerBlue */
  color: rgb(31, 141, 251);
  /* LightSkyBlue */
  background-color: rgb(91, 193, 249);
}

.is-selected._2 {
  background-color: rgb(68, 186, 252);
}

._3 {
  /* Tomato */
  color: rgb(253, 118, 46);
  /* SandyBrown */
  background-color: rgb(254, 199, 100);
}

.is-selected._3 {
  background-color: rgb(253, 190, 78);
}

._4 {
  /* Coral */
  background-color: rgb(253, 125, 93);
  /* NavajoWhite */
  color: rgb(254, 207, 157);
}

.is-selected._4 {
  background-color: rgb(253, 111, 86);
}

._5 {
  /* DarkCyan */
  background-color: rgb(23, 157, 134);
  /* LightGreen */
  color: rgb(127, 231, 157);
}

.is-selected._5 {
  background-color: rgb(21, 148, 126);
}

._6 {
  /* MediumSlateBlue */
  background-color: rgb(135, 114, 251);
  /* Thistle */
  color: rgb(205, 190, 253);
}

.is-selected._6 {
  background-color: rgb(116, 100, 251);
}

._7 {
  background-color: rgb(252, 110, 194);
  color: rgb(254, 189, 168);
}

.is-selected._7 {
  background-color: rgb(252, 84, 196);
}

._8 {
  background-color: rgb(244, 62, 101);
  color: rgb(254, 209, 181);
}

.is-selected._8 {
  background-color: rgb(233, 41, 67);
}

._9 {
  background-color: rgb(254, 245, 74);
  color: rgb(207, 91, 57);
}

.is-selected._9 {
  background-color: rgb(254, 232, 52);
}

._10 {
  /* todo */
}

.is-selected._10 {
  /* todo */
}

._11 {
  /* todo */
}

.is-selected._11 {
  /* todo */
}

._12 {
  /* todo ;*/
}

.is-selected._12 {
  /* todo ;*/
}
